%h1= @batch['key']

%ul
  - @batch['keys'].each do |key|
    %li= key

%form(action="/#{@batch['key']}/widget" method="get")
  %label(for="email") Signer e-mail
  %input(id="email" name="email" type="email")

  %input(type="submit" value="View inside widget")

%a(href="/") Back
