%form(action="/" method="post" enctype="multipart/form-data")
  %label(for="archive") File
  %input(id="archive" name="archive" type="file")

  %input(type="submit" value="Upload")

%form(action="/batches" method="post")
  %ul
    - @documents.each do |document|
      %li
        %input(type="checkbox" name="keys[]" value="#{document['key']}")
        %a(href="/#{document['key']}")= document['original_name']

  %input(type="submit" value="Criar pacote")
