!!! 5

%html
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=edge")
    %meta(http-equiv="content-language" content="pt-BR")
    %meta(name="description" content="Clicksign widget example")

    %title Clicksign widget example

  %body
    = yield
