%div
  Lorem ipsum dolor sit amet, consectetur adipiscing elit.

%div#container

%div
  Suspendisse libero purus, fringilla et laoreet eget, varius vitae nisi.

%script(src='/javascripts/clicksign.js' type='text/javascript')

:coffee
  callback = (ev) ->
    alert 'Callback called with: ' + ev.data

  widget = clicksign.create 'container', '#{@key}',
    endpoint: 'http://widget.clicksign.dev'
    signer:
      email: '#{@email}'
      display_name: 'John Doe'
      documentation: '01234567890'
    callbacks: [callback]

  window.widget = widget
